.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
  background: none;
}

.header__date-And-Location {
  margin: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__user-container {
  display: flex;
  margin: 0 20px 0 auto;
}

.header__user-name {
  margin: 0;
  font-family: "CabinetGrotesk", sans-serif;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
