.modal {
  position: fixed;
  width: 498px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__imgae {
  width: 498px;
  height: 498px;
  object-fit: cover;
}

.modal__caption {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__content_type_image {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal__weather {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal__footer {
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 343px;
    height: 343px;
    width: auto;
  }

  .modal__imgae {
    width: 343px;
    height: 343px;
  }
}
